@import "tailwindcss";
/* explicitly add all tsx files for all packages instead of relying on Vite */
@source "../**/*.tsx";
@source '../../packages/core/component/LexicalMarkdown/theme.ts';
@config '../../tailwind.config.ts';

/* custom cursor */
/* must be imported inside base layer to prevent tag element default properties overriding TW cursor utility  */
@layer base {
  @import "./component/custom-cursor/custom-cursor.css";
}

@property --a0l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.88;
}
@property --a0c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.2;
}
@property --a0h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 145deg;
}
@property --a1l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.61;
}
@property --a1c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.37;
}
@property --a1h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 54deg;
}
@property --a2l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.61;
}
@property --a2c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.37;
}
@property --a2h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 94deg;
}
@property --a3l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.61;
}
@property --a3c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.37;
}
@property --a3h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 144deg;
}
@property --a4l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.61;
}
@property --a4c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.37;
}
@property --a4h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 194deg;
}

@property --b0l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b0c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b0h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --b1l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.15;
}
@property --b1c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b1h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --b2l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.16;
}
@property --b2c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b2h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --b3l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.18;
}
@property --b3c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b3h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --b4l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.36;
}
@property --b4c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --b4h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}

@property --c0l {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}
@property --c0c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --c0h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --c1l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.9;
}
@property --c1c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --c1h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --c2l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.8;
}
@property --c2c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --c2h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --c3l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.7;
}
@property --c3c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --c3h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}
@property --c4l {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.6;
}
@property --c4c {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@property --c4h {
  syntax: "<angle>";
  inherits: false;
  initial-value: 14deg;
}

@theme {
  --a0: oklch(var(--a0l) var(--a0c) var(--a0h));
  --a1: oklch(var(--a1l) var(--a1c) var(--a1h));
  --a2: oklch(var(--a2l) var(--a2c) var(--a2h));
  --a3: oklch(var(--a3l) var(--a3c) var(--a3h));
  --a4: oklch(var(--a4l) var(--a4c) var(--a4h));

  /* main background color */
  /* in an idealized theme, these are ordered by lightness */
  /* in an idealized light theme, 0 is the lightest, 4 is the darkest */
  /* in an idealized dark theme, 0 is the darkest, 4 is the lightest */
  /* but in practice, in a particular theme, these may be unordered */
  --b0: oklch(var(--b0l) var(--b0c) var(--b0h));
  --b1: oklch(var(--b1l) var(--b1c) var(--b1h));
  --b2: oklch(var(--b2l) var(--b2c) var(--b2h));
  --b3: oklch(var(--b3l) var(--b3c) var(--b3h));
  --b4: oklch(var(--b4l) var(--b4c) var(--b4h));

  /* body & paragraph text / icon stoke & fill */
  /* in an idealized theme, these are ordered by lightness */
  /* in an idealized light theme, 0 is the darkest, 4 is the lightest */
  /* in an idealized dark theme, 0 is the lightest, 4 is the darkest */
  /* but in practice, in a particular theme, these may be unordered */
  --c0: oklch(var(--c0l) var(--c0c) var(--c0h));
  --c1: oklch(var(--c1l) var(--c1c) var(--c1h));
  --c2: oklch(var(--c2l) var(--c2c) var(--c2h));
  --c3: oklch(var(--c3l) var(--c3c) var(--c3h));
  --c4: oklch(var(--c4l) var(--c4c) var(--c4h));

  --theme-folder: oklch(from var(--a0) l c 240deg);
  --theme-canvas: oklch(from var(--a0) l c 60deg);
  --theme-write: oklch(from var(--a0) l c 260deg);
  --theme-video: oklch(from var(--a0) l c 277deg);
  --theme-note: oklch(from var(--a0) l c 293deg);
  --theme-code: oklch(from var(--a0) l c 162deg);
  --theme-chat: oklch(from var(--a0) l c 220deg);
  --theme-image: oklch(from var(--a0) l c 95deg);
  --theme-html: oklch(from var(--a0) l c 47deg);
  --theme-rss: oklch(from var(--a0) l c 260deg);
  --theme-pdf: oklch(from var(--a0) l c 25deg);
  --theme-comment: oklch(from var(--a0) l c 90deg);

  /* Semantic Color names, use these when writing tailwind */

  /* text */
  --color-ink: var(--c0);
  --color-ink-muted: var(--c1);
  --color-ink-extra-muted: var(--c2);
  --color-ink-disabled: var(--c3);
  --color-ink-placeholder: var(--c4);

  /* accent */
  --color-accent: var(--a0);
  --color-accent-bg: oklch(from (var(--a0)) / 0.15);
  --color-accent-ink: var(--a0);
  --color-accent-edge: var(--a0);

  --color-accent-1: var(--a1);
  --color-accent-2: var(--a2);
  --color-accent-3: var(--a3);
  --color-accent-4: var(--a4);

  --color-focus: var(--color-accent);
  /* page background */
  --color-page: var(--b3);
  /* block background */
  --color-panel: var(--b1);
  /* menu background */
  --color-menu: var(--b0);
  /* edge (border) */
  --color-edge: var(--b4);
  /* muted edge */
  --color-edge-muted: color-mix(
    in srgb,
    var(--color-edge),
    var(--color-panel) 50%
  );
  /* input, e.g. chat/channel input */
  --color-input: var(--b0);
  /* message background */
  --color-message: var(--b3);
  /* overlay, e.g. modal background */
  --color-overlay: oklch(from var(--b2) l c h / 0.5); /* maybe break */
  /* hover, e.g. hover state for buttons/items */
  --color-hover: var(--b2);
  /* elements that are selected or activated */
  --color-active: var(--b2);
  /* dialog, e.g. dialog background */
  --color-dialog: var(--b0);
  --color-button: var(--b1);

  /* Below are hardcoded colors */
  --color-failure: var(--color-red-500);
  --color-failure-bg: oklch(from var(--color-failure) l c h / 0.15);
  --color-failure-ink: oklch(from var(--color-failure) var(--c1l) c h);

  --color-success: var(--color-emerald-500);
  --color-success-bg: oklch(from var(--color-success) l c h / 0.15);
  --color-success-ink: oklch(from var(--color-success) var(--c0l) c h);

  --color-alert: var(--color-amber-500);
  --color-alert-bg: oklch(from var(--color-alert) l c h / 0.15);
  --color-alert-ink: oklch(from var(--color-alert) var(--c1l) c h);

  --color-comment: var(--theme-comment);
  --color-comment-bg: oklch(from var(--color-comment) l c h / 0.15);
  --color-comment-ink: oklch(from var(--color-comment) var(--c1l) c h);

  --color-note: var(--theme-note);
  --color-note-bg: color-mix(
    in srgb,
    var(--color-note),
    var(--color-panel) 90%
  );

  --color-canvas: var(--theme-canvas);
  --color-canvas-bg: color-mix(
    in srgb,
    var(--color-canvas),
    var(--color-panel) 90%
  );

  --color-html: var(--color-html);
  --color-html-bg: color-mix(
    in srgb,
    var(--color-html),
    var(--color-panel) 90%
  );

  --color-folder: var(--theme-folder);
  --color-folder-bg: color-mix(
    in srgb,
    var(--color-folder),
    var(--color-panel) 90%
  );

  --color-email: var(--theme-email);
  --color-email-bg: color-mix(
    in srgb,
    var(--color-email),
    var(--color-panel) 90%
  );

  --color-code: var(--theme-code);
  --color-code-bg: color-mix(
    in srgb,
    var(--color-code),
    var(--color-panel) 90%
  );

  --color-pdf: var(--theme-pdf);
  --color-pdf-bg: color-mix(in srgb, var(--color-pdf), var(--color-panel) 90%);

  --color-image: var(--theme-image);
  --color-image-bg: color-mix(
    in srgb,
    var(--color-image),
    var(--color-panel) 90%
  );

  --color-write: var(--theme-write);
  --color-write-bg: color-mix(
    in srgb,
    var(--color-write),
    var(--color-panel) 90%
  );

  --color-chat: var(--theme-chat);
  --color-chat-bg: color-mix(
    in srgb,
    var(--color-chat),
    var(--color-panel) 90%
  );

  --color-video: var(--theme-video);
  --color-video-bg: color-mix(
    in srgb,
    var(--color-video),
    var(--color-panel) 90%
  );

  --color-rss: var(--theme-rss);
  --color-rss-bg: color-mix(in srgb, var(--color-rss), var(--color-panel) 90%);

  --color-contact: oklch(0.8617 0.1837 93.83);
  --color-contact-bg: color-mix(
    in srgb,
    var(--color-contact),
    var(--color-panel) 90%
  );

  --color-default: var(--color-ink-muted);
  --color-default-bg: color-mix(
    in srgb,
    var(--color-default),
    var(--color-panel) 90%
  );

  /* SCUFFED We probably want to let the theme determine 3 or 4 "extra" hue offsets. Rights now these are only being */
  /* used as debug colors and to improve the consistency of markdown block lightness/chroma with themed css */
  --color-accent-30: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 30deg));
  --color-accent-60: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 60deg));
  --color-accent-90: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 90deg));
  --color-accent-120: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 120deg));
  --color-accent-150: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 150deg));
  --color-accent-180: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 180deg));
  --color-accent-210: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 210deg));
  --color-accent-240: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 240deg));
  --color-accent-270: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 270deg));
  --color-accent-300: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 300deg));
  --color-accent-330: oklch(var(--a0l) var(--a0c) calc(var(--a0h) + 330deg));
}

@source inline("{data-highlighted:}text-{comment,note,canvas,html,folder,email,code,pdf,image,write,chat,video,rss,contact,default}");

:root {
  --color-focus: var(--color-accent);
}

.bg-accent {
  --color-focus: var(--color-panel);
}

.bg-panel,
.bg-dialog {
  --color-focus: var(--color-accent);
}

/* NOTE: We use this as a compile-time css util in this file to be able reuse the
 * declarations while still being able to override the color. */
@utility util-bracket-bg-image {
  background-image:
    conic-gradient(
      from 90deg at top 1px left 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from 180deg at top 1px right 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from 0deg at bottom 1px left 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from -90deg at bottom 1px right 1px,
      #0000 90deg,
      var(--color-focus) 0
    );

  background-position:
    0 0,
    100% 0,
    0 100%,
    100% 100%;

  background-size:
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px;

  background-repeat: no-repeat;
  background-origin: border-box;
}

@utility bracket {
  position: relative;

  /* note (seamus): we !important these selectors to allow for manual brackets within a .suppress-css-brackets*/
  &::after {
    content: "" !important;
    position: absolute;
    inset: 0px !important;
    pointer-events: none;
    @apply util-bracket-bg-image;
    z-index: 10;
  }
}

/* utility to disable modality-keyboard brackets on a given self element */
@utility bracket-never {
  &::after {
    content: none !important;
  }
}

@utility bracket-offset-* {
  position: relative;

  /* note (seamus): we !important these selectors to allow for manual brackets within a .suppress-css-brackets*/
  &::after {
    content: "" !important;
    position: absolute;
    inset: calc(0px - --value(integer) px) !important;
    pointer-events: none;
    @apply util-bracket-bg-image;
    z-index: 10;
  }
}

@utility bracket-split {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
      conic-gradient(
          from 90deg at top 2px left 2px,
          #0000 90deg,
          var(--color-focus) 0
        )
        0 0 / 20px 20px border-box no-repeat,
      conic-gradient(
          from 180deg at top 2px right 2px,
          #0000 90deg,
          var(--color-focus) 0
        )
        100% 0 / 20px 20px border-box no-repeat,
      conic-gradient(
          from 0deg at bottom 2px left 2px,
          #0000 90deg,
          var(--color-focus) 0
        )
        0 100% / 20px 20px border-box no-repeat,
      conic-gradient(
          from -90deg at bottom 2px right 2px,
          #0000 90deg,
          var(--color-focus) 0
        )
        100% 100% / 20px 20px border-box no-repeat;
    z-index: 10;
  }
}

@utility bracket-* {
  background-image:
    conic-gradient(
      from 90deg at top 1px left 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from 180deg at top 1px right 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from 0deg at bottom 1px left 1px,
      #0000 90deg,
      var(--color-focus) 0
    ),
    conic-gradient(
      from -90deg at bottom 1px right 1px,
      #0000 90deg,
      var(--color-focus) 0
    );

  background-position:
    0 0,
    100% 0,
    0 100%,
    100% 100%;

  background-size:
    --value(integer) px --value(integer) px,
    --value(integer) px --value(integer) px,
    --value(integer) px --value(integer) px,
    --value(integer) px --value(integer) px;

  background-repeat: no-repeat;
  background-origin: border-box;
}

/* utils for patterned bg images */
@utility pattern-* {
  --pattern-color: --value(--color-*);
}

/* utils for striped bg images */
@utility pattern-diagonal-* {
  background-image: linear-gradient(
    -45deg,
    transparent 10%,
    var(--pattern-color) 10%,
    var(--pattern-color) 20%,
    transparent 20%,
    transparent 60%,
    var(--pattern-color) 60%,
    var(--pattern-color) 70%,
    transparent 70%,
    transparent
  );
  background-size: --value(integer) px --value(integer) px;
}

@utility pattern-dot-* {
  background-image:
    radial-gradient(var(--pattern-color) 0.5px, transparent 0.6px),
    radial-gradient(var(--pattern-color) 0.5px, transparent 0.6px);
  background-size: --value(integer) px --value(integer) px;
  background-position:
    0 0,
    calc(--value(integer) px / 2) calc(--value(integer) px / 2);
}

@utility pattern-scanline-* {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--pattern-color) 30%,
    var(--pattern-color) 70%,
    transparent 100%
  );
  background-size: 100% --value(integer) px;
  background-repeat: repeat-y;
}

@utility glow-* {
  box-shadow:
    0 0 40px 0 --alpha(--value(--color-*) / 30%),
    0 0 6px 0 --alpha(--value(--color-*) / 50%);
}

@utility text-glow {
  text-shadow:
    0 0 0.5em rgb(from currentColor r g b / 40%),
    0 0 0.01em rgb(from currentColor r g b / 50%);
}

@utility text-glow-sm {
  text-shadow:
    0 0 0.2em rgb(from currentColor r g b / 15%),
    0 0 0.05em rgb(from currentColor r g b / 25%);
}

@utility optical-* {
  font-optical-sizing: none;
  font-variation-settings: "opsz" --value(integer);
}

@utility optical-auto {
  font-variation-settings: unset;
  font-optical-sizing: auto;
}

/* Used when you need to use a color defined via transparency, e.g. `accent-bg` in a context where it needs to be opaque, e.g. when it is floating over other elements. Use this with any of our macro colors, e.g. floating-accent-bg */
@utility floating-* {
  background-color: var(--color-dialog);
  box-shadow: inset 400px 400px --value(--color-*);
}

/* The above utility does not allow to use tailind "color/number" transparency, e.g. `bg-red-500/50`, this one does, but requires you to use the full color variable name, e.g. `floating-transparent-[var(--color-edge)]/30`. */
@utility floating-transparent-* {
  background-color: var(--color-dialog);
  box-shadow: inset 400px 400px --value([*]);
}

@utility hover-transition-text {
  transition: color var(--transition);

  &:hover {
    transition: none;
  }
}

@utility hover-transition-fill {
  transition: fill var(--transition);

  &:hover {
    transition: none;
  }
}

@utility hover-transition-stroke {
  transition: stroke var(--transition);

  &:hover {
    transition: none;
  }
}

@utility hover-transition-bg {
  transition: background-color var(--transition);

  &:hover {
    transition: none;
  }
}

@utility hover-transition-border {
  transition: border-color var(--transition);

  &:hover {
    transition: none;
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* Safari etc */
    display: none;
    width: 0;
    height: 0;
  }
}

:root {
  --viewport-padding: 16px;
  --keyboard-height: 0px;
}

/** isolate the app-root stacking context from the kobalte dialog and modal stacking context */
#root {
  isolation: isolate;
}

@theme default {
  /* Font families */
  --font-sans:
    "Forma Macro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "Forma DJR Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-serif:
    "Georgia", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* Colors */
  --color-macro-accent: #00c4ff;
  --color-macro-input-border: #e4e4e4;
  --color-macro-doc: #f9fafb;

  /* Transitions */
  --transition-duration-quick: 20ms;
  --transition-duration-slow: 100ms;
  --ease-click: cubic-bezier(0.18, 0.91, 0.27, 1.14);

  /* Animations */
  --animate-hide: hide 100ms ease-in;
  --animate-slide-in: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipe-out: swipeOut 100ms ease-out;
  --animate-typing-dot: typing-dot 1s infinite;

  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes swipeOut {
    from {
      transform: translateX(var(--kb-toast-swipe-end-x));
    }

    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }

  @keyframes typing-dot {
    0% {
      transform: scale(1) translateY(0);
    }

    50% {
      transform: scale(1.5) translateY(-2px);
    }

    100% {
      transform: scale(1) translateY(0);
    }
  }

  --container-c: 0;

  /* --shadow-*: initial; */
  --radius-sm: 6px;
  --radius-md: 6px;
  --radius-lg: 6px;
  --radius-xl: 6px;
  --radius-2xl: 6px;
  --radius-3xl: 6px;
}

@custom-variant drop-valid (&[data-drop-valid]);
@custom-variant drop-invalid (&[data-drop-invalid]);

@layer base {
  html {
    overscroll-behavior: none;
  }

  /* Custom cursor is set via JavaScript in index.tsx to match theme accent color */

  body {
    @apply overflow-clip overscroll-none relative m-0 p-0 font-sans optical-auto;

    /* SCUFFED; surface might change to surface2  */
    background-color: var(--b3);

    width: 100dvw;
    height: 100dvh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 16.5px;
    /* Need to set opsz here so that it will apply to MD */
    font-variation-settings: "opsz" 11;
    font-synthesis: none;

    color: var(--color-ink);
  }

  @font-face {
    font-family: "oooh-baby";
    src: url("./asset/fonts/OoohBaby-Regular.woff2") format("truetype");
  }

  @font-face {
    font-family: "Forma Macro";
    src: url("./asset/fonts/FormaMacroVariable.woff2") format("woff2");
    font-weight: 200 700;
    font-style: oblique 0deg 13deg;
    font-feature-settings:
      "ss17" on,
      "calt",
      "liga",
      "rlig",
      "rvrn",
      "kern",
      "rclt";

    font-display: swap;
    /* ascent-override: 100%; No longer needed but keeping just in case */
  }

  @font-face {
    font-family: "Forma Macro Mono";
    src: url("./asset/fonts/FormaMacroMonoVariable.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal italic;
    font-display: swap;
    font-feature-settings:
      "ss11" on,
      "ss19" on,
      "calt",
      "liga",
      "rlig",
      "rvrn",
      "kern",
      "rclt";
  }

  .text-xs {
    @apply optical-9;
  }
  .text-sm {
    @apply optical-10;
  }
  .text-base {
    @apply optical-11;
  }
  .text-xl {
    @apply optical-15;
  }
  .text-2xl {
    @apply optical-27;
  }

  /* This is ugly, and we can probably do better, but it stops text from being selectable by default, which is important for mobile usage */
  :where(*, ::before, ::after) {
    user-select: none;
  }

  :where(
    input,
    textarea,
    select,
    p *,
    p span,
    .pdfViewer *,
    .markdown-content *,
    [contenteditable],
    .md *
  ) {
    user-select: text;
  }

  *:focus-visible {
    position: relative;
  }

  html[data-modality="keyboard"] .focus-bracket-within:focus-within {
    position: relative;
  }

  code {
    @apply font-mono;
  }
}

@layer components {
}
/* Option to add to focusable elements */
html[data-modality="keyboard"] .focus-bracket:focus-visible::after {
  position: absolute;
  display: block;
  content: "";
  inset: var(--focus-border-inset, 0);
  @apply util-bracket-bg-image;
  pointer-events: none;
}

/* Add to focusable elements that can't render ::after psuedo class like radio input */
html[data-modality="keyboard"] .focus-bracket-within:focus-within::after {
  position: absolute;
  display: block;
  content: "";
  inset: var(--focus-border-inset, 0);
  @apply util-bracket-bg-image;
  pointer-events: none;
}

/* Applies to almost all focusable elements  */
html[data-modality="keyboard"] :focus-visible::after {
  position: absolute;
  display: block;
  content: "";
  inset: var(--focus-border-inset, 0);
  @apply util-bracket-bg-image;
  pointer-events: none;
}

/* Use class 'suppress-css-brackets' to suppress the focus bracket on descendants */
html[data-modality="keyboard"] .suppress-css-brackets *:focus-visible::after {
  content: none;
}
html[data-modality="keyboard"] .suppress-css-bracket:focus-visible::after {
  content: none;
}

/* Use class 'allow-css-brackets' to re-enable focus brackets inside a suppressed container */
html[data-modality="keyboard"]
  .suppress-css-brackets
  .allow-css-brackets
  *:focus-visible::after,
html[data-modality="mouse"]
  .suppress-css-brackets
  .allow-css-brackets
  *:focus-visible::after {
  position: absolute;
  display: block;
  content: "";
  inset: var(--focus-border-inset, 0);
  @apply util-bracket-bg-image;
  pointer-events: none;
}

html[data-modality="keyboard"] input:focus-visible::after,
html[data-modality="keyboard"] textarea:focus-visible::after,
html[data-modality="keyboard"] [contenteditable="true"]:focus-visible::after {
  display: none;
}

@utility no-select-children {
  * {
    user-select: none;
  }
}

@utility select-children {
  * {
    user-select: text;
  }
}

@utility bg-modal-overlay {
  background-color: var(--color-overlay);
  --pattern-color: color-mix(
    in srgb,
    var(--color-overlay),
    var(--color-ink) 2%
  );
}

@utility bg-modal-overlay-konsole {
  background-color: var(--color-overlay);
  background-image: linear-gradient(
    rgba(from var(--color-accent) r g b / 0.1) 0%,
    transparent 25%
  );
}

@utility portal-scope {
  --documentation: "Set this element as a bounding scope for the ScopedPortal component";
}

@utility macro-message-width {
  @media (min-width: 640px) {
    max-width: 800px;
    min-width: 250px;
  }

  @container (width < 816px) {
    margin-inline: calc(var(--spacing) * 4);
  }
  @container (width < 640px) {
    margin-inline: calc(var(--spacing) * 2);
  }
}

::-webkit-scrollbar {
  height: 8px;
  /* Thickness of horizontal scrollbar */
  width: 8px;
  /* Thickness of vertical scrollbar */
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: oklch(from var(--color-edge) l c h / 0.5);
  border-radius: 10px;
  margin: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-edge);
}

:focus-visible {
  outline: none;
}

[type="file"]:focus {
  outline: none;
}

/* Prevent up/down arrows showing in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.chat-markdown-container {
  .table-container,
  .katex-display,
  pre {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.no-touch-callout {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (pointer: coarse) {
  .md-table-cell-resizer {
    background-color: #adf;
    mix-blend-mode: color;
  }
}

.media-error {
  background-size: 8px 8px;
  background-image: linear-gradient(
    -45deg,
    transparent 10%,
    var(--color-edge-muted) 10%,
    var(--color-edge-muted) 20%,
    transparent 10%,
    transparent 60%,
    var(--color-edge-muted) 60%,
    var(--color-edge-muted) 70%,
    transparent 70%,
    transparent
  );
}

[cmdk-list] {
  height: var(--cmdk-list-height);
  max-height: 500px;
  transition: height 100ms ease;
  overflow: auto;
}

.dotted-banner {
  position: relative;
}

.dotted-banner::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  height: 60%;
  background-image:
    radial-gradient(circle, var(--color-accent) 0.5px, transparent 0.5px),
    radial-gradient(circle, var(--color-accent) 0.5px, transparent 0.5px);
  background-size: 8px 8px;
  background-position:
    0 0,
    4px 4px;
  /* Offset second layer by half */
  z-index: 0;
  pointer-events: none;
}

.dotted-banner > div {
  position: relative;
  z-index: 1;
  width: auto;
}

@property --pulse-width {
  syntax: "<length>";
  initial-value: 0.5px;
  inherits: true;
}

.pulse-corners {
  --pulse-width: 1px;
  --pulse-length: 50%;
}

@keyframes pulse-lines-reverse {
  0% {
    background-size:
      0% var(--pulse-width),
      0% var(--pulse-width),
      0% var(--pulse-width),
      0% var(--pulse-width),
      var(--pulse-width) 0%,
      var(--pulse-width) 0%,
      var(--pulse-width) 0%,
      var(--pulse-width) 0%;
    opacity: 1;
  }

  40% {
    background-size:
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length);
    opacity: 1;
  }

  100% {
    background-size:
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-length) var(--pulse-width),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length),
      var(--pulse-width) var(--pulse-length);
    opacity: 0;
  }
}

.pulse-corners::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
        /* Top edge */
    linear-gradient(90deg, var(--color-accent), var(--color-accent)) top center,
    linear-gradient(90deg, var(--color-accent), var(--color-accent)) top center,
    /* Bottom edge */
      linear-gradient(90deg, var(--color-accent), var(--color-accent)) bottom
      center,
    linear-gradient(90deg, var(--color-accent), var(--color-accent)) bottom
      center,
    /* Left edge */
      linear-gradient(180deg, var(--color-accent), var(--color-accent)) center
      left,
    linear-gradient(180deg, var(--color-accent), var(--color-accent)) center
      left,
    /* Right edge */
      linear-gradient(180deg, var(--color-accent), var(--color-accent)) center
      right,
    linear-gradient(180deg, var(--color-accent), var(--color-accent)) center
      right;
  background-size:
    0% 1px,
    0% 1px,
    0% 1px,
    0% 1px,
    1px 0%,
    1px 0%,
    1px 0%,
    1px 0%;
  background-repeat: no-repeat;
  background-position:
    top left,
    top right,
    bottom left,
    bottom right,
    top left,
    bottom left,
    top right,
    bottom right;
  pointer-events: none;
  animation: pulse-lines-reverse 0.7s ease-out 0.1s forwards;
}

@keyframes flicker {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.portal-child-collapse > div {
  display: contents;
}
