[package]
edition = "2024"
name = "frecency"
publish = false
version = "0.1.0"

[features]
inbound = ["ports"]
mock = ["dep:mockall"]
outbound = ["ports"]
ports = ["dep:tokio", "dep:tracing"]
postgres = ["dep:recursion", "dep:serde_json", "dep:sqlx"]


[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
filter_ast = { path = "../filter_ast" }
item_filters = { path = "../item_filters" }
macro_env_var = { path = "../macro_env_var", optional = true }
macro_user_id = { path = "../macro_user_id" }
mockall = { workspace = true, optional = true }
model-entity = { path = "../model-entity" }
num-traits = { version = "0.2" }
ordered-float = { workspace = true }
recursion = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true, optional = true }
sqlx = { workspace = true, optional = true }
thiserror = { workspace = true }
tokio = { workspace = true, optional = true, features = ["sync", "time"] }
tower = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }

[dev-dependencies]
cool_asserts = "2"
item_filters = { path = "../item_filters", features = ["mock"] }
macro_db_migrator = { path = "../macro_db_migrator" }
rand = { workspace = true }
uuid = { workspace = true }
