/* This sheet is injected into style element appended into document.head and shadowRoots  */
a[href] {
  cursor: var(--cursor-pointer);
}
button {
  cursor: var(--cursor-default);
}
summary {
  cursor: var(--cursor-pointer);
} /* collapsible <details> */
label {
  cursor: var(--cursor-pointer);
} /* when linked to a control */
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: var(--cursor-pointer);
}
select {
  cursor: var(--cursor-pointer);
}
option {
  cursor: var(--cursor-pointer);
} /* some browsers */
optgroup {
  cursor: var(--cursor-pointer);
}

input[type=text],
input:not([type]),     /* default type="text" */
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=number],    /* on the text area, not the spin box */
textarea,
[contenteditable] {
  cursor: var(--cursor-text);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: var(--cursor-not-allowed);
}

[style="cursor: pointer;"] {
  cursor: var(--cursor-pointer) !important;
}
