target/
infra/
**/fixtures/*
**/migrations/*
**/load-test/*
search_processing_service/helpers/*
convert_service/helpers/*
.gitignore
.dockerignore
Dockerfile*
Cross.toml
Makefile
README.md
build-local.sh
.DS_Store
*.swp
*.swo
*~
