@keyframes morePopoverShow {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes morePopoverHide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.more-popover-content {
  animation: morePopoverHide 100ms ease-in forwards;
}
.more-popover-content[data-expanded] {
  animation: morePopoverShow 100ms ease-out;
}
