:root {
  --PDF_MIX_BLEND_MODE: lighten;
}

.overouter .overlay div div {
  position: absolute;
  opacity: 1;
  pointer-events: all;
  cursor: var(--cursor-pointer);
}

.overouter .overlay div.section,
.overouter .overlay div.section * {
  /* opacity is used so that the intersection observer can pick it up */
  opacity: 0;
  pointer-events: none;
  cursor: var(--cursor-auto);
}

.noShowParse .overouter .overlay div div {
  opacity: 0;
  pointer-events: none;
  cursor: inherit;
}

.noClickParse .overouter .overlay div div {
  pointer-events: none;
}

.overouter {
  position: absolute;
  pointer-events: none;
  cursor: var(--cursor-auto);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: var(--PDF_MIX_BLEND_MODE);
}
