node_modules/**/*
*.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
.mono

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__

# Mac Finder
.DS_Store
code/frontend/renderer/.vscode

# git-secret
.gitsecret/keys/random_seed
!*.secret

# IntelliJ
.idea/

java-server/pdfreader/target
**/target/*


packages/**/node_modules
packages/app/.vscode/**/*

CodeSignTool/

# Backend
packages/app/backend.jar
packages/app/backend_lib
**/build
**/dist

**/*.tsbuildinfo

!pdf-server/pdfreader/src/main/resources/log4j2.yaml
pdf-server/pdfreader/.settings/org.eclipse.jdt.apt.core.prefs
scripts/node_modules

performance-test/json-test-set/*
tests/docx-tools/output
tests/editor-compatibility-test/editor-compatibility-docx-files/*.tmp

# Docx lock files
.~lock.*
~$*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
node_modules


packages/pdfium-worker/**/*

*storybook.log

.lefthook-local.yml

CLAUDE.md
.cursorignore
.zed

.direnv/
.envrc

storybook-static
bunfig.toml
