[package]
edition = "2024"
name = "soup"
publish = false
version = "0.1.0"

[features]
axum = [
  "dep:axum",
  "dep:model-error-response",
  "dep:model_user",
  "dep:utoipa",
  "models_pagination/axum",
]


[dependencies]
anyhow = { workspace = true }
axum = { workspace = true, optional = true }
chrono = { workspace = true }
either = { workspace = true }
filter_ast = { path = "../filter_ast" }
frecency = { path = "../frecency" }
item_filters = { path = "../item_filters" }
macro_user_id = { path = "../macro_user_id" }
model-entity = { path = "../model-entity" }
model-error-response = { path = "../model-error-response", optional = true }
model_user = { path = "../model_user", optional = true, features = ["axum"] }
models_pagination = { path = "../models_pagination" }
models_soup = { path = "../models_soup" }
non_empty = { path = "../non_empty" }
recursion = { workspace = true }
serde = { workspace = true }
sqlx = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
utoipa = { workspace = true, optional = true }
uuid = { workspace = true }

[dev-dependencies]
cool_asserts = "2"
frecency = { path = "../frecency", features = ["mock"] }
futures = { workspace = true }
http-body-util = { workspace = true }
macro_db_migrator = { path = "../macro_db_migrator" }
mockall = { workspace = true }
ordered-float = "5"
serde_json = { workspace = true }
tokio = { workspace = true }
tower = { workspace = true }
