name: Deploy Web App
on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
          - dev
          - prod
        description: The environment to build for
      notify:
        required: false
        type: boolean
        description: Whether to notify the Slack channel of the deployment completion
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: The environment to build for. e.g. (dev, prod)
      notify:
        required: false
        type: boolean
    secrets:
      AWS_DEPLOYMENT_ACCESS_KEY:
        required: true
      AWS_DEPLOYMENT_SECRET_ACCESS_KEY:
        required: true
      PULUMI_ACCESS_TOKEN:
        required: true
      DD_APP_KEY:
        required: true
      DD_API_KEY:
        required: true
      DD_WEB_APP_ID:
        required: true
      DD_WEB_APP_TOKEN:
        required: true
      SEGMENT_WRITE_KEY:
        required: true

concurrency:
  group: ${{ github.workflow }}-web-app-${{ inputs.environment }}
  # We do not want to cancel a deployment if it's in progress. That could lead to a broken deployment.
  cancel-in-progress: false

env:
  WEB_APP_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || '0.0.0' }}

jobs:
  build-deploy:
    runs-on: linux-latest-beefy
    env:
      CI: "true"
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
      - name: Setup
        uses: ./.github/actions/setup-reqs-web
        with:
          npm-rc-token: ${{ secrets.NPMRC_GH_TOKEN }}
      - name: Build
        working-directory: js/app
        run: bun run build:${{ inputs.environment }}
        env:
          VITE_DD_WEB_APP_ID: ${{ secrets.DD_WEB_APP_ID }}
          VITE_DD_WEB_APP_TOKEN: ${{ secrets.DD_WEB_APP_TOKEN }}
          VITE_DD_HASH: ${{ github.sha }}
          VITE_SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY }}
      - name: Install infra dependencies
        run: |
          cd infra
          bun install
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_DEPLOYMENT_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_DEPLOYMENT_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - uses: pulumi/actions@v6
        with:
          command: up
          stack-name: macro-inc/${{ inputs.environment }}
          work-dir: ./infra/stacks/web-app
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          DD_APP_KEY: ${{ secrets.DD_APP_KEY }}
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_HOST: https://api.us5.datadoghq.com/

      - name: Upload sourcemaps to Datadog
        env:
          DATADOG_API_KEY: ${{ secrets.DD_API_KEY }}
          DATADOG_SITE: us5.datadoghq.com
          DATADOG_API_HOST: api.us5.datadoghq.com
        working-directory: js/app/packages/app
        run: bun run ddupload:${{ inputs.environment }}

      - name: Upload production build
        if: ${{ inputs.environment == 'prod' }}
        uses: actions/upload-artifact@v4
        with:
          name: web-app-build
          path: js/app/packages/app/dist
          overwrite: true
